*{
  margin: 0;
  box-sizing: border-box;
}

.Macron{
  color: #03224C;
}

.Emmanuel{
  color: #DDE9EF;
}

h1{
  border: 1px solid black;
  font-size: 35px;
  font-family: Verdana;
}

body{
  font-family: Roboto;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.5;
}

a{
  text-decoration: none;
  color: darkred;
}

a:hover{
  text-decoration: underline;
}

.section{
  margin-bottom: 1rem;
}

.contenuCV{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left-column right-column right-column";
  width: 1200px;
  margin: 100px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}

.contenucolonnedroite{

  grid-area: right-column;
  display: grid;
  grid-template-rows: 250px 1fr;
  grid-template-areas: 
    "header"
    "content";
}

.bandeauhaut{
  top: 0px;
right: 0px;
left: 0px;
bottom: 0px;
  height: 200px;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 0px
}

.bandeaubas{
  position: relative;
  padding-bottom: 100px;
  top: 500px;
  left: 100px;
  right: 100px;
width: 100%;
height: 100px;
}

.left-column{
  grid-area: left-column;
  padding: 50px;
  background-color: #F98D33;
  color: darkorange;
}

p{
  margin: 0 0 1rem;
}

h1{
  margin: 0 0 1rem;
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

h2{
  margin: 0 0 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.left-column{
  grid-area: left-column;
  padding: 50px;
  background-color: #0061A4;
  color: white;
}

.right-column{
  grid-area: right-column;
  display: grid;
  grid-template-rows: 250px 1fr;
  grid-template-areas: 
    "header"
    "content";
}

.header{
  grid-area: header;
  padding: 10px;
  background-color: #D60920;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* CONTENT */
.content{
  grid-area: content;
  padding: 50px;
}

.portait{
  border-radius: 50%;
  max-width: 150px;
  margin: auto;
  display: block;
  margin-bottom: 50px;
}
