*{
  margin: 0;
}

.gauche{
    grid-area: sd
}

.contenucontrole {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "contenugauche contenucentre contenudroite
        casedubas";
    width:auto;
    margin: auto;
}

.contenugauche{
    width:75%;
    height:500px;
    grid-area:"gauche";
  background-color: lightgrey;
  margin-left:15px;
  margin-right: 3px;
  margin-bottom: 50px;
  margin-top:25px;
  text-align : left;
  border-block:inset;
  border-top:5px solid black;
  border-left:5px solid black;
  border-bottom:5px solid black;
  border-width: 2px;
}

.contenucentre {
    border-width: 1px;
    border-style: dotted;
    background-color: grey;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 15px;
    text-align: left;
    border-block: dotted;
    border-width: 2px;
    width: 800px;
    justify-content:center;
}

h1{
    font-size: 30px;
    margin: 0 0 1rem;
    margin-bottom: .5rem;
    align-content:center;
}

.contenucentre1 {
    position:relative;
    border-width: 1px;
    border-style: solid;
    background-color: lightgrey;
    margin-top:10px;
    margin-right:10px;
    margin-left:10px;
    margin-bottom: 10px;
    text-align: justify;
    border-top:2px black solid;
    border-left:none;
    border-right:none;
    border-bottom:none;
    border-width: 2px;
    height:150px;
    text-align:justify;
    font-size: large;
    padding:10px;
}

.contenucentre2 {
    height: 300px;
    border-width: 1px;
    border-style: solid;
    background-color: lightgrey;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left:10px;
    text-align: justify;
    border-top: 2px black solid;
    border-width: 2px;
    padding:10px;
}

.contenucentre3 {
    text-align: justify;
    font-size: large;
    border-top: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: none;
    border-width: 2px;
    margin-left:20%;
    margin-right:20%;
    padding:15px;

}

.contenudroite {
    width: 75%;
    height: 350px;
    grid-area: "gauche";
    background-color: lightgrey;
    margin-left: 15px;
    margin-right: 3px;
    margin-bottom: 50px;
    margin-top: 25px;
    text-align: right;
    border-block: inset;
    border-top: 2px solid black;
    border-left: 2px solid lightgrey;
    border-bottom: 5px solid black;
    border-right:5px solid black;
    border-width: 2px;
}

.titredroite {
    margin-top: 35px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    border-block-color: black;
    border-block-style: inset;
    border-bottom: 2px solid lightgrey;
    border-bottom-color: darkgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid;
    border-right-color: lightgray;
    padding: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-width: 1px;
}

.titregauche {
    margin-top:35px;
    margin-right:15px;
    margin-left:15px;
    margin-bottom:30px;
    border-block-color :black;
        border-block-style:inset;
         border-bottom:1px solid;
         border-bottom-color:lightgrey;
             border-left:1px solid black;
             border-right:1px solid;
             border-right-color:lightgray;
    padding: 5px;
    background-color: white;
    display: flex;
    justify-content:center;
    border-width:1px;
}

.titrecentre {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 25%;
    margin-right: 25%;
    border-top:1px solid lightgrey;
    border-block-color: black;
    border-block-style: inset;
    border-bottom: 1px solid;
    border-bottom-color: darkgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid;
    border-right-color: lightgray;
    background-color: white;
    display: flex;
    justify-content: center;
    border-width: 1px;
    height:contain;
    width:50%;
    align-content:center;
}

.titrecentre2{
    text-align:right;
    font-style:italic;
    margin-bottom:10px;
    margin-right:10px;
}

.footer{
    grid-area:ft
}

.casedubas {
    background-color:lightgrey;
    position: absolute;
    width: 100%;
    height: 100px;
    margin-top: 700px;
    margin-bottom: 100px;
    align-content:center;
    text-align:center;
    margin-left:40px;
    margin-right:40px;
}

.titrebas {
    background-color:white;
    font-style:italic;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-top: 1px solid lightgrey;
    border-block-color: black;
    border-block-style: inset;
    border-bottom: 1px solid;
    border-bottom-color: darkgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid;
    border-right-color: lightgray;
    background-color: white;
    justify-content: center;
    border-width: 1px;
    height: contain;
    width: 98%;
    align-content: center;
}

.titrecentre1{
    border-width:1px;
    border-style

}

body{
  font-family: Roboto;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.5;
}


